<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank card validation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="screen"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" media="screen"
          th:href="@{/css/main.css}"
          href="../static/css/main.css" />
</head>
<body>
    <div class="center">
        <form role="form" th:action="@{/validator/v1/validate}" th:method="post">
            <div class="form-group">
                <label for="cardNumber">Enter Card Number (length 12 to 19 digits)</label>
                <p></p>
                <input type="text" id="cardNumber" th:name="cardNumber" />
            </div>
            <input type="submit" class="btn btn-success" value="Validate"/>
        </form>
    </div>
</body>
</html>