<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank card validation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" media="screen" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" media="screen" th:href="@{/css/main.css}"
          href="../static/css/main.css" />
</head>
<body>
    <div class="center">
        <label for="result">Validation result</label>
        <div id="result">
            <p th:text="'Card No: ' + ${result.getCardNumber()}"></p>
            <p th:text="'Valid: ' + ${result.isValid()}"></p>
            <p th:text="'Type: ' + ${result.getCardType()}"></p>
            <a class="btn btn-default" th:href="@{/validator}">Validate another card number</a>
        </div>
    </div>
</body>
</html>